@use "../vars" as *;
@use "../mixins" as *;

.orderConfirmationPage {
  position: relative;
  width: $default-width;
  height: $default-height;
  background-size: cover;
  border: 1px solid $border-color;
  background-position: center;
  background: $secondary-color;
  margin: 0 auto;
  padding: $spacing-small;
  text-align: center;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.orderLogo {
  width: 100px;
  margin-bottom: $spacing-small;
}

.orderImageContainer {
  margin-bottom: $spacing-small;
}

.orderLunchbox {
  width: 100%;
  max-width: 200px;
}

h1 {
  font-family: $font-primary;
  font-size: $font-size-large;
  font-weight: 700;
  margin-bottom: $spacing-small;
}

p {
  font-size: $font-size-medium;
  font-family: $font-primary;
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-small;
  margin-top: $spacing-small;
}

.proceedBtn {
  @include button-styles($primary-color, $text-color);
  border-radius: 20px;
}

.proceedBtn:hover {
  background-color: darken($primary-color, 10%);
}

.receiptBtn {
  @include button-styles($secondary-color, $background-light, 1px solid $background-light);
  border-radius: 20px;
}

.receiptBtn:hover {
  background-color: lighten($secondary-color, 10%);
}
